@use "./variables.scss" as *;
@use "./animations.scss" as *;

.homepage {
  &__container {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    text-align: center;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;

    &--main {
      animation: slideUp 0.5s ease forwards;
    }
    &--sub {
      display: flex;
      animation: slideUp 0.7s ease forwards;
      
      .title--sub {
        &--first {
          color: $color-01;
        }
        &--second {
          color: $color-02;
        }
        &--third {
          color: $color-03;
        }
      }
    }
  }
}
